<%--
    Document   : Addrole
    Created on : Jul 18, 2008, 5:52:19 PM
    Author     : vidya
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
             <link href="css/parveen.css" rel="stylesheet" type="text/css">

    </head>
     <script language="javascript">
           function submitPage(name){
                if(document.addrole.newrole.value=="") {
                    alert("Enter the Role type");
                    document.addrole.newrole.focus();
                }else {
                    document.addrole.action='userServlet';
                    document.addrole.reqfor.value='addrole';
                    document.addrole.submit();
                }
            }
        </script>
   <body onLoad="document.addrole.newrole.focus()">
<form method="post" name="addrole" >

<br>

<table align="center" width="500" border="0" cellspacing="0" cellpadding="0" id="table_01">
<tr>
<td height="30" class="contenthead" colspan="2">Add Role</td>
</tr>
<tr>
<td  height="30" class="text2">Roll type :</td>
<td  height="30" class="text2"><input type="text" size="17" name="newrole"/></td>
</tr>
<tr>
<td height="30" class="text1"> Description :</td>
<td height="45" class="text1"><textarea  name="roledesc" ></textarea></td>
</tr>
</table>
<br>
<center>
<input type="button" value="Add" name="add" class="button" onClick="submitPage(this.name)" />
&emsp;<input type="reset" class="button" value="Clear">
<input type="hidden" name="reqfor" value="">
</center>

</form>

</body>
</html>
