/* CSS Document */


table.open {
width:80%;
padding:0px;
margin:0px;
table-layout: fixed;
float:left;
}

table.open tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.open tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}
table.open tr.box-grey td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}


table.open tr.box-grey td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.open tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
}


table.open tr.box-white td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}


table.open tr.box-white td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.summary {
width:18%;
float:right;
font-family:Arial, Helvetica, sans-serif;
}

table.total {
width:18%;
font-family:Arial, Helvetica, sans-serif;
margin-top:20px;
float:right;
border:1px solid;
}

table.total tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.total tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.summary tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.summary tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary tr.summary-white td {
background:#fff;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
padding-right:5px;
font-weight:bold;
}

table.summary tr.summary-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip {
width:100%;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
height:auto;
overflow-y:auto;
border:1px solid #000;
}

table.trip tr th {
font-size:11px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.trip tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
font-size:12px;
font-weight:bold;
}

table.trip tr.box-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.amount {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}
table.trip tr.box-grey td input.paid {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.remarks {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.select {
width:90px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}



table.trip tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
font-size:12px;
font-weight:bold;
}

table.trip tr.box-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.amount {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}
table.trip tr.box-white td input.paid {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.remarks {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.select {
width:90px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

.box-head {
text-align:left;
padding-top:5px;
padding-bottom:5px;
font-size:14px;
color:#3f95de;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
}

.box-button {
padding-top:5px;
padding-bottom:5px;
text-align:center;
width:100%;
}

.box-button > input {
margin-left:10px;
margin-right:10px;
}

.scroll-y {
width:100%;
height:130px;
vertical-align:top;
overflow-y:auto;
}


/* CSS Document */


table.close {
width:80%;
padding:0px;
margin:0px;
table-layout: fixed;
float:left;
}

table.close tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.close tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}
table.close tr.box-grey td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}


table.close tr.box-grey td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.close tr.box-grey td span input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.close tr.box-grey td span select.time {
width:40px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.close tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
}


table.close tr.box-white td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}

table.close tr.box-white td span input.date {
width:50px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}


table.close tr.box-white td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}



table.summary-close {
width:18%;
float:right;
font-family:Arial, Helvetica, sans-serif;
}

table.total-close {
width:18%;
font-family:Arial, Helvetica, sans-serif;
margin-top:30px;
float:right;
border:1px solid;
}

table.total-close tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.total-close tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary-close tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.summary-close tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.summary-close tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary-close tr.summary-white td {
background:#fff;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
padding-right:5px;
font-weight:bold;
}

table.summary-close tr.summary-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip {
width:100%;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
height:auto;
overflow-x:auto;
}

table.trip tr th {
font-size:11px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.trip tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
font-size:12px;
font-weight:bold;
}

table.trip tr.box-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.amount {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}
table.trip tr.box-grey td input.paid {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.remarks {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-grey td input.select {
width:90px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}



table.trip tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
font-size:12px;
font-weight:bold;
}

table.trip tr.box-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.amount {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}
table.trip tr.box-white td input.paid {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.remarks {
width:70px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.trip tr.box-white td input.select {
width:90px;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

.box-head {
text-align:left;
padding-top:5px;
padding-bottom:5px;
font-size:14px;
color:#3f95de;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
}

.box-button {
padding-top:5px;
padding-bottom:5px;
text-align:center;
width:100%;
}

.box-button > input {
margin-left:10px;
margin-right:10px;
}

.scroll-y {
width:100%;
height:130px;
vertical-align:top;
overflow-y:auto;
}


/* CSS Document */


table.return-trip {
width:100%;
padding:0px;
margin:0px;
float:left;

}

table.return-trip tr.box-grey td {
width:100px;
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.return-trip tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.return-trip tr.box-grey td span.col {
display:inline-block;
width:95px;
text-align:left;
padding-bottom:2px;
background:#f1f3ee;
}

table.return-trip tr.box-grey td span.col input {
width:95px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-grey td input {
width:95px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-white td input {
width:10%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr th {
font-size:11px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}
table.return-trip tr.box-grey td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}


table.return-trip tr.box-grey td span input {
width:10%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-grey td span input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-grey td span select.time {
width:40px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
}


table.return-trip tr.box-white td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}

table.return-trip tr.box-white td span input.date {
width:50px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}


table.return-trip tr.box-white td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}



table.summary-close {
width:18%;
float:right;
font-family:Arial, Helvetica, sans-serif;
}


table.summary-close tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.summary-close tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.summary-close tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary-close tr.summary-white td {
background:#fff;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
padding-right:5px;
font-weight:bold;
}

table.summary-close tr.summary-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

.box-head {
text-align:left;
padding-top:5px;
padding-bottom:5px;
font-size:14px;
color:#3f95de;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
}

.scroll-y {
width:100%;
height:auto;
vertical-align:top;
overflow-x:auto;
}


/* CSS Document */


table.return-trip {
width:100%;
padding:0px;
margin:0px;
float:left;

}

table.return-trip tr.box-grey td {
width:100px;
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.return-trip tr.box-grey td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#f1f3ee;
}

table.return-trip tr.box-grey td input {
width:95px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-white td input {
width:10%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr th {
font-size:11px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}
table.return-trip tr.box-grey td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}


table.return-trip tr.box-grey td span input {
width:10%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-grey td span input.date {
width:60px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-grey td span select.time {
width:40px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}

table.return-trip tr.box-white td {
text-align:left;
border-bottom:1px dashed #000;
padding-bottom:2px;
background:#fff;
}


table.return-trip tr.box-white td label {
display:block;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
margin-bottom:2px;
padding-right:15px;
word-wrap:break-word;
}

table.return-trip tr.box-white td span input.date {
width:50px;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}


table.return-trip tr.box-white td span input {
width:85%;
height:16px;
border:1px solid #688082;
font-size:11px;
margin-left:2px;
}



table.summary-close {
width:18%;
float:right;
font-family:Arial, Helvetica, sans-serif;
}


table.summary-close tr th {
font-size:16px;
color:#fff;
text-align:left;
background:#7f8ba5;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
table-layout:fixed;
}

table.summary-close tr.summary-grey td {
background:#f2f2f2;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
font-weight:bold;
padding-right:5px;
}

table.summary-close tr.summary-grey td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

table.summary-close tr.summary-white td {
background:#fff;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
font-size:12px;
padding-right:5px;
font-weight:bold;
}

table.summary-close tr.summary-white td input {
width:95%;
height:16px;
border:1px solid #688082;
font-size:14px;
margin-left:2px;
font-weight:bold;
}

.box-head {
text-align:left;
padding-top:5px;
padding-bottom:5px;
font-size:14px;
color:#3f95de;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
}

.scroll-y {
width:100%;
height:auto;
vertical-align:top;
overflow-x:auto;
}