@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	font:normal 12px arial;
	color:#535353;
	background:#e5e9ea;
}

img {
	border:0px none;
}

#bottom {
	position:absolute;
	width:312px;
	height:303px;
	bottom:0px;
	left:0px;
	z-index:-99;
	background:url(../images/bottom_bg.png) no-repeat 0 0;
}

#top {
	position:absolute;
	width:570px;
	height:256px;
	top:0px;
	right:0px;
	z-index:-99;
	background:url(../images/top_bg.png) no-repeat 0 0;
}

#header {
	background:url(../images/header_bg.jpg) repeat-x 0 0;
	height:27px;
}

#menu_bg {
	background:url(../images/menu_bg.jpg) repeat-x 0 0;
/*	height:27px;*/
}

span a {
	color:#999;
	text-decoration:none;
	font-style:italic;
}

span a:hover {
	color:#fff;
	text-decoration:none;
	font-style:italic;
}

#left {
	width:300px;
	height:20px;
	float:left;
}

#right {
	width:400px;
	height:20px;
	float:right;
	text-align:right;
}

#right a {
	color:#000000;
	text-decoration:none;
}

#right a:hover {
	color:#000000;
	text-decoration:underline;
}

#text {
	color:#fff;
}

#text a {
	color:#808080;
	text-decoration:none;
}

#text a:hover {
	color:#0073ba;
	text-decoration:underline;
}


#clr {
	clear:both;
}

.fcolor {
	display:block;
	width:150px;
	height:5px;
	border:1px solid;
}

h1 {
	font-size:18px;
	padding:2px;
	margin:0px;
	color:#667572;
}

.arrow {
	width:22px;
	height:33px;
	background:url(../images/sidebar_img.png) no-repeat 0 0;
}
.statusText {
	font-size:24px;
}

.heading1 {
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#246F99;
font-weight:bold;
}

.links {
font-family:Tahoma;
font-size:10px;
color:#666666;
}

.links a {
font-family:Tahoma;
font-size:10px;
color:#666666;
}

.links a:hover {
font-family:Tahoma;
font-size:10px;
color:#666666;
}

.sub_menu_title {
font-family:Tahoma;
font-size:14px;
color:#FFFFFF;
text-align:left;
padding-left:10px;
padding-bottom:5px;
font-weight:bold;
}


.lnk {
	font-size:10px;
}

.arroup {

	background:url(images/arrow_down.png) no-repeat 8px 9px;

}