@charset "utf-8";
/* CSS Document */

/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

#main-content { background-color:#f5f5f5; }
#profilesld { position:absolute; top:0px; left:447px; z-index:20; }
#peoplesld { position:absolute; top:0px; left:447px; z-index:20; }
#culturesld { position:absolute; top:0px; left:425px; z-index:20; }
#ourworksld { position:relative; top:0px; left:425px; z-index:20; }
#whatwedosld { position:relative; top:0px; left:425px; z-index:20; }
#mycustomscroll { position: absolute; top: 10px; left: 0px; width: 395px; height:515px; margin: 0 0 0 22px; padding: 0 18px 0 0; }
#mycustomscroll h2 { color:#4f4f4f; font: bold 19px "Century Gothic", Arial, Helvetica, sans-serif; font-variant:small-caps; margin: 5px 0 5px 0; }
#mycustomscroll p { color: #555555; text-align:justify; text-justify:inter-word; margin:5px 0 7px 0 }
.scrollgeneric { line-height: 1px; font-size: 1px; position: absolute; top: 5px; left: 0; }
.vscrollerbar { width: 10px; background-color: #1e1e1e; }
.vscrollerbase { width: 10px; background-color: #787878; }
.hscrollerbase { height: 10px; background-color: #c8c8c8; }
.hscrollerbar { height: 10px; background-color: #5f5f5f; }
.scrollerjogbox { width: 10px; height: 10px; top: auto; left: auto; bottom: 0px; right: 0px; background-color: 4f4f4f; }
#culture { position: absolute; top: 20px; left: 0px; width: 395px; height:515px; margin: 0 0 0 22px; padding: 0 18px 0 0; }
#culture h2, h3, h4, h5 { color:#4f4f4f; }
#culture h2 { font: bold 19px "Century Gothic", Arial, Helvetica, sans-serif; font-variant:small-caps; margin: 10px 0 10px 0; }
#culture p { color: #555555; text-align:justify; text-justify:inter-word; margin:5px 0 7px 0 }
#culture .strong { font-weight:bold; }
#people { position:absolute; top: 20px; left: 0px; width: 395px; height:490px; margin: 0 0 0 22px; padding: 0 18px 0 0; }
#people ul { list-style: none; }
#people h2 { color:#4f4f4f; font: bold 19px "Century Gothic", Arial, Helvetica, sans-serif; font-variant:small-caps; margin: 0 0 0 0; }
#people p { color: #555555; margin: 0 0 5px 0; }
#people a { text-decoration:none; color: #0000FF; font-weight:bold; }
#people .strong { font-weight:bold; }
#people .reverse h5 { color: #4f4f4f; margin: 0 0 0 0; }
#people .reverse { color: #4f4f4f; }
#people .reverse h5 { color: #4f4f4f; margin: 0 0 10px 0; }
#contact { position:absolute; top: 0px; left: 0px; width: 395px; height:490px; margin: 25px 0 0 40px; }
#contact ul { list-style: none; }
#contact h2 { color:#4f4f4f; font: bold 19px "Century Gothic", Arial, Helvetica, sans-serif; font-variant:small-caps; margin: 0 0 0 0; }
#contact p { color: #555555; margin: 0 0 5px 0; }
#contact a { text-decoration:none; color: #0000FF; font-weight:bold; }
#contact .strong { font-weight:bold; }
#contact .reverse h5 { color: #4f4f4f; margin: 0 0 0 0; }
#contact .reverse { color: #4f4f4f; }
#career { position: absolute; width: 350px; height: 510px; top: 125px; left: 0px; text-align: justify; }
#contact .reverse h5 { color: #4f4f4f; margin: 0 0 10px 0; }
#new-client p { margin: 0 0 15px 0; }
#locations { position:absolute; width: 350px; height: 510px; top: 0px; left: 400px; }

#what_we_do { position: relative; top: 0px; left: 15px; width: 800px; height:529px; margin: 0 0 0 0; padding: 0 0 0 0; }
#what_we_do ul { position:absolute; top: 15px; left: 15px; }
#what_we_do li { font-size:10px; display: inline-block; list-style:none; margin: 10px 10px }
#services-copy { position:absolute; top: 150px; left: 23px; }
#services-copy h2 { color:#555555; font-variant:small-caps; }
#services-copy p { font-size:14px; padding: 0 40px 0 0; text-align:justify; color:#555555; }

.service-topic { position:absolute; top:150px; left: 23px; height:auto; width:700px; background-color:#f5f5f5; color:#555555; }
.service-topic h2{ color:#555555; font-variant:small-caps; }
.service-topic p { font-size: 14px; }

a:hover.service-toggle { font-weight:bold; color:#d31818; }
a:visited.service-toggle { font-weight:bold; }

.people_profile { text-align:justify; }