/* CSS Document */
* {
padding:0px;
margin:0px;
}
body {
margin:0px;
padding:0px;
width:100%;
height:100%;
}
img {
border:0px none;
}
img, div, a, input, td, body { behavior: url(iepngfix.htc) }
#loginBg_top {
background-image:url(../images/loginBgTop.jpg);
background-repeat:no-repeat;
}

#loginBg_left {
background-image:url(../images/loginBgLeft.jpg);
background-repeat:no-repeat;
}

#loginBg_right {
background-image:url(../images/loginBgRight.jpg);
background-repeat:no-repeat;
}

#loginBg_bottom {
background-image:url(../images/loginBgBottom.jpg);
background-repeat:no-repeat;
}

.text {
font-family:Tahoma;
font-size:12px;
text-align:left;
padding-left:40px;
color:#FF33CC;
}
.textbox {
font-family:Tahoma;
font-size:12px;
border:1px dashed #037EAD;
}
.button {
font-family:Tahoma;
font-size:12px;
border:1px solid #037EAD;
background-color:#FFFFFF;
}
.footerbg {
background-image:url(../../images/footerbg.jpg);
background-repeat:repeat-x;
background-position:left;
}
.title {font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;

}

.headerbg {
background-image:url(../images/background.gif);
background-repeat:repeat-x;
}
.menuText {
font-family:"Trebuchet MS";
font-size:13px;
text-align:left;
padding-left:3px;
color:#0066CC;
vertical-align:middle;
}

html {scrollbar-face-color: #1568A1;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;}