
.sortable {width:980px; border-left:px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {font-size:12px;font-weight:bold;color:#fff; background:url(../images/title_bg.jpg) repeat-x 0 0;height:17px;}
.sortable th h3 {font-size:12px; color: #fff; font-weight: bold;height:17px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:#6e6c6c;height:17px;}
.sortable .desc h3 {height:17px;background:url(../images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px;height:17px;}
.sortable .asc h3 {height:17px;background:url(../images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px;height:17px;}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff;height:17px;}
.sortable .evenrow td {height:25px;border-bottom:1px dashed;background:#f2f2f2;font-size:12px;font-weight:normal;}
.sortable .oddrow td {height:25px;border-bottom:1px dashed;font-size:12px;font-weight:normal;}
.sortable td.evenselected {height:25px;border-bottom:1px dashed;font-size:12px;font-weight:normal;}
.sortable td.oddselected {height:25px;border-bottom:1px dashed;background:#f2f2f2;font-size:12px;font-weight:normal;}

#controls {width:980px; margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:580px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:right; margin-top:2px}



 a {
	color:#4292e5;
	text-decoration:none;
        font-size:12px;
}

a:hover {
	color:#4292e5;
	text-decoration:underline;
        font-size:12px;
}




